<div class="background col-md-12"></div>

<div class="container full col-md-12">
  <h1 class="text-center">sportING</h1>
  <p class='text-center col-md-10 col-md-offset-1'>Sport meetups with like-minded people, at your fingertips</p>

  <a href="#middle" type="button" class="btn btn-primary col-md-4 col-md-offset-4">Login / Sign Up</a>

</div>


<div id="middle" class="full midvert">
    <div class="panel panel-info col-md-8 col-md-offset-2">
      <div class="row panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
      </div>

      <div class="row panel-body">
        <div class="col-md-6">
          <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"><a class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook"></i> Sign in with Facebook
                            </a></div>

          <form class="form-horizontal" action="/auth/login" method="POST">
            <fieldset>
              <input id="textinput" name="username" type="text" placeholder="Enter User Name" class="form-control input-md">
              <input id="textinput" name="password" type="password" placeholder="Enter Password" class="form-control input-md">
              <!-- <div class="spacing pull-left"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small></div>
              <div class="spacing pull-right"><a href="#"><small>Forgot Password?</small></a><br/></div>
 -->
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>
            </fieldset>
          </form>
        </div>

        <div class="col-md-6 pull-right" style="border-left:1px solid #ccc">
          <h2>Join the vibrant sports community</h2>
          <form class="form-horizontal" action="/auth/signup" method="POST">
            <fieldset>
              <input id="textinput" name="name" type="text" placeholder="Enter name" class="form-control input-md">
              <input id="textinput" name="username" type="text" placeholder="Enter username" class="form-control input-md">
              <input id="textinput" name="password" type="password" placeholder="Enter Password" class="form-control input-md">
              <input id="textinput" name="email" type="text" placeholder="Enter Email" class="form-control input-md">
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>
            </fieldset>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>
